/* start global  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --main-color: #fff;
    --bg-color: #342871;
    --hover-color: #7984ee;
    --second-color: #677a84;
    --transition: all .5s ease-in-out;
}

.text-primary {
    color: var(--bg-color) !important;
}

.main-title {
    position: relative;
    padding-bottom: 15px;
    width: fit-content;
    font-weight: bold;
}

.main-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--bg-color);
}

.btn-primary {
    background-color: var(--bg-color) !important;
    color: var(--main-color) !important;
    text-transform: capitalize !important;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: var(--hover-color) !important;
    color: #fff !important;
}

.kian-logo {
    position: absolute;
    width: 70px;
    top: 30px;
    left: 40px;
}
.loader{
    display: flex;   
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    }
/* End global  */

/* start navbar  */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-logo img {
    width: 70px;
    border-radius: 50%;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    color: var(--bg-color);
    text-decoration: none;
    margin-right: 1rem;
    font-weight: 600 !important;
    font-size: 16px;
}

.navbar-links :hover {
    color: var(--hover-color);
}

.user-options {
    display: flex;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.22);
    z-index: 100;
}

.navbar-toggle {
    /* Hide toggle button by default on big screens */
    display: none;
    cursor: pointer;
    color: var(--bg-color);
}

.fauser {
    cursor: pointer !important;
    color: var(--bg-color);
}

.signup {
    text-transform: capitalize;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: none;
    color: #fff !important;
    font-weight: 600;
    text-decoration: none !important;
    cursor: pointer;
}

.signup:hover {
    background-color: var(--main-color);
    color: var(--bg-color) !important;
    outline: 1px solid #372B73 !important;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: var(--bg-color);
    margin-right: 1rem;
    font-weight: 600 !important;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.dropdown-content a:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 992px) {
    .user-options {
        flex-direction: column;
        align-items: start;
    }

    .navbar-links a,
    .navbar-links li {
        color: var(--main-color);
        padding-bottom: 15px;
    }

    .dropbtn {
        color: var(--main-color);
    }

    .dropdown-content a {
        background-color: var(--main-color);
        color: var(--bg-color);
    }

    .dropdown-content a:hover {
        background-color: #2d179e;
    }

    .signup {
        outline: 1px solid var(--main-color);
        color: #fff;
        padding: 5px !important;
        margin-bottom: 15px !important;
    }

    .signup:hover {
        background-color: var(--main-color);
        color: var(--bg-color) !important;
    }

    .navbar-links {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 60%;
        height: 100vh;
        background-color: var(--bg-color);
        flex-direction: column;
        align-items: start;
        z-index: 101;
        padding-top: 80px;
        padding-left: 20px;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .navbar-links.open {
        display: flex;
        transform: translateX(0%);
    }

    .navbar-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        z-index: 102;
    }

    .fauser {
        color: var(--main-color);
    }

}

/* End navbar  */

/* start about  */
.about {
    margin-bottom: 50px;
}

.about .about-title {
    margin-top: 10%;
}

.about h2 {
    line-height: 1.3;
}

.about .about-banner img {
    border-radius: 5px !important;
    margin-top: 5%;
}

.about .about-courses {
    margin-top: 15%;
    padding-left: 50px;
}

.about .about-courses .box {
    border: 1px solid transparent;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #7985ee30;
}

.about .about-courses .box .box-caption {
    margin-left: 60px;
    margin-top: 10px;
    padding: 10px !important;
}

.about .about-courses .box .box-icon {
    position: absolute;
    top: -10px;
    left: -40px;
    box-shadow: 0px 0px 15px var(--bg-color);
    padding: 25px;
    border-radius: 50%;
    color: var(--bg-color);
    background-color: var(--main-color);

}

@media(max-width:992px) {
    .about .about-us {
        margin-top: 20px !important;
    }

    .about .about-banner img {
        margin-top: 10%;
    }

    .about .about-banner2 img {
        margin-top: 70%;
    }
}

@media(max-width:768px) {
    .about .about-us {
        margin-top: 20px !important;
    }

    .about .about-banner img {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .about .about-title {
        margin-top: 2%;
    }

    .about .about-courses {
        margin-top: 7%;
    }

    .about .about-courses .box .box-caption p,
    .about-title p {
        font-size: 13px;
    }
}

/* End about  */

/* start contact us  */
.contact-us {
    margin-bottom: 30px;
}

.contact-us .contact-banner img {
    border-radius: 5px;
}

.contact-us .contact-address {
    margin-top: 5%;
    /* padding-left: 10px; */
}

.contact-us .contact-address .box {
    border: 1px solid transparent;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #7985ee30;
    padding: 5px;
}

.contact-us .contact-address .box .box-caption p {
    margin-bottom: 0;
}

.contact-us .contact-address .box .box-caption {
    margin-left: 25px;
}

.contact-us .contact-address .box .box-icon {
    position: absolute;
    top: -3px;
    left: -40px;
    box-shadow: 0px 0px 15px var(--bg-color);
    padding: 12px;
    border-radius: 50%;
    color: var(--bg-color);
    background-color: var(--main-color);

}

@media (max-width:992px) {
    .contact-us .contact-banner img {
        display: none;
    }

    .contact-us form {
        padding-top: 0 !important;
    }

    .contact-us .contact-address .box .box-icon {
        top: -5px;
    }

}

@media (max-width:350px) {
    .contact-us .contact-address .box .box-caption p {
        font-size: 13px;
    }
}

/* End contact us  */

/* start instrctors  */

.instrctors {
    background-color: rgb(242, 245, 248);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.154);
}

.tag {
    position: absolute;
    left: 0;
    animation: up-and-down 3s linear infinite;
}

@keyframes up-and-down {

    0%,
    100% {
        top: -90px;
    }

    50% {
        top: -60px;
    }
}

.instructors-card img {
    transition: all .5s ease;
}

.instructors-card img:hover {
    transform: scale(1.3);
}

.instructors-card {
    overflow: hidden;
}

.instructors-caption h4 {
    transition: all .5s ease;
}

.instructors-caption h4:hover {
    transform: scale(1.2);
}

.instructors-icons .fa-facebook:hover,
.instructors-icons .fa-instagram:hover,
.instructors-icons .fa-twitter:hover,
.instructors-icons .fa-linkedin:hover {
    color: #fff !important;
    background-color: #372B73;
    border-radius: 50%;
    transition: all .5s ease;
}

@media(max-width:992px) {
    .title-all {
        flex-direction: column;
    }

    .instrctors-left {
        flex-direction: column;
    }

    .instructors-card {
        text-align: center;
    }

    .instructors-card img {
        width: 70% !important;
        margin-bottom: 20px;
    }

    .instructors-card img:hover {
        transform: scale(1);
    }

    .tag {
        display: none;
    }
}

@media(max-width:567px) {
    .instrctors-right {
        flex-direction: column;
    }
}

/* End instrctors  */

/* start sign-up and login and forget */
.sign-up {
    background-color: #E6F0F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-form .input-icon {
    position: absolute;
    top: 49px;
    left: 15px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    padding: 25px 40px !important;
    color: var(--hover-color) !important;
    border-radius: 10px !important;
    border: none !important;
    background-color: #F5F7F9;
}

.signup-form label {
    font-size: 15px;
    font-weight: 500;
}

.signup-form input[type="submit"],
.signup-with,
.signup-with-facebook {
    font-size: 16px;
    text-transform: capitalize;
}

.signup-form input[type="submit"]:hover,
.signup-with-facebook:hover {
    background-color: #2d179e !important;
    color: #fff !important;
}

.signup-with {
    background-color: #2d179e !important;
    color: #fff !important;
}

.signup-with:hover {
    color: #fff !important;
    background-color: var(--bg-color) !important;

}

.signup-form .form-check-label {
    font-size: 13px !important;
}

hr {
    margin: 1rem 0;
    color: var(--bs-gray-500);
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 0.25;
}

.btn-submit {
    width: 100%;
    border: none;
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 7px;
}

@media (max-width:576px) {

    .sign-up,
    .signup-inputs {
        padding: 20px !important;
    }
}

/* End sign-up and login and forget*/

/* start footer */

.footer {
    background-color: var(--bg-color);
    padding: 10px;
    color: var(--main-color) !important;
}

.footer .social-icons .fa-facebook,
.footer .social-icons .fa-twitter,
.footer .social-icons .fa-instagram,
.footer .social-icons .fa-linkedin {
    font-size: 30px;
    padding: 10px;
}

.footer .social-icons .fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-linkedin:hover {
    color: var(--bg-color) !important;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: var(--transition);
}

.footer .footer-logo {
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer .phone {
    text-decoration: none;
    color: #fff;
}

/* End footer */